body {

    padding-top: 800px;	
}

.menu {

	list-style: none;
	/* for not getting bullet points */
	font-family: sans-serif;
	position: absolute;
	/* to stick with the body which is the parent */
	right: 30px;
	top: 10px;
	cursor: pointer;
	/* for making the options clickable with hand symbol */
/*	z-index: 15;*/
}

#welcome {


	position: absolute;
	height: 800px;
	color: #FFFFFF;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.83;
	background: linear-gradient(#60ebeb 0%, #27ae60 100%);
	display: table;
	width: 100%;
	height: 100%;
/*	z-index: 9*/
}

.links {
	float: left;
	color: black;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: fantasy;
}

.links:hover {
	background-color: blue;
}

#bio {
	padding: 50px;
	text-align: center;
	font-size: 42px;
}

#profile {
	border-radius: 50%;
	margin-bottom: 50px;
}

h1 {
	line-height: 2;
}

.inner {
     display: table-cell;
	text-align: center;
	vertical-align: middle;
}

p {
	max-width: 450px;
	margin:  auto;
	font-size: 17px;
	line-height: 1.3;
}

.line {
	height: 6px;
	background-color: #000;
	width: 70px;
	margin: 8px auto;
}
